// utils styles
@import "./utils/vars";
@import "./utils/visually-hidden";

// base styles
@import "./base/reset";
@import "./base/common";

// components stiles
@import "./components/section";
@import "./components/container";
@import "./components/button";
@import "./components/sectoin-title";
@import "./components/title";
@import "./components/socials";


// layout stiles
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/features";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/customers";






