body {
    font-family: Roboto, sans-serif; 
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    
    &.no-scroll {
        overflow: hidden;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 1;
        visibility: hidden;
        pointer-events: none;
    } 
}

