html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

.ul {
	list-style: none;
	padding-left: 0;
    padding: 0;
	margin: 0;
}

.a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.link {
    text-decoration: none;
}

.page {
    display: flex;
}

.main-nav  {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.page {
    display: flex;
}

.page__nav  {
    display: flex;
    align-items: center;
    margin-right: auto;
}

