.features {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    &__list {
        width: 270px;
     }
    
     & &__list + &__list {
        margin-left: 30px;
     }
}

.section__title {
   margin-bottom: 50px; 
}

/* feature-icons */
.feature__icon {
    display: flex;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
 }